* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    --UNO-Red: #ED1C24; 
    --UNO-White: #FFF;
    --UNO-Gray: #c4c4c4;
    --UNO-Black: #000;
    --UNO-Yellow: #F8DA27;
    --UNO-Blue: #2A7FFF;
    --UNO-Green: #2CA05A;
}

html, body {
    height: 100%;
    background-color: var(--UNO-Red);
}

header {
    width: 100%;
    height: 2.5vw;
    text-align: center;
    background-color: var(--UNO-Red);
    border-bottom: .5vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
    font-weight: bold;
    color: var(--UNO-Yellow);
    -webkit-text-stroke: .05vw var(--UNO-White);
    text-shadow: -.3vw .3vw .1vw var(--UNO-Black);
    font-size: 2.5vw;
}

header img {
    width: 5vw;
}

#split {
    display: flex;
    width: auto;
}

#sticky {
    height: calc(100vh - 5vw);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .5vw solid var(--UNO-Black);
    background-color: var(--UNO-White);
}

#currentCard img {
    width: 25vw;
}

#draw {
    width: 75%;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: var(--UNO-Gray);
}

#draw:hover {
    background-color: #b5b5b5;
}

#split ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: .45vw;
}

#split ul button {
    width: 4vw;
    height: 4vw;
    box-shadow: .2vw .2vw var(--UNO-Black);
}

#wildBlue {
    background-color: var(--UNO-Blue);
}

#wildGreen {
    background-color: var(--UNO-Green);
}

#wildRed {
    background-color: var(--UNO-Red);
}

#wildYellow {
    background-color: var(--UNO-Yellow);
}

#cardBank {
    background-color: var(--UNO-Red);
    display: flex;
    flex-grow: 1;
}

#cardBank img {
    padding: .5vw;
    width: 7vw;
    -webkit-user-drag: none; 
    user-select: none;
}

#cardBank button {
    margin: 0;
    background-color: var(--UNO-Red);
    border: none;
}

#hand {
    
    height: auto;
}

